# Librerias

In [27]:
random_state = 43992294
import pandas as pd
import numpy as np
import gc
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import category_encoders as ce
import xgboost as xgb
from sklearn.metrics import roc_auc_score
from hyperopt import fmin, tpe, hp, Trials, STATUS_OK
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.impute import SimpleImputer
import seaborn as sns
from scipy.stats import chi2_contingency
import scipy.stats as ss
import os
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import RandomizedSearchCV
from tqdm import tqdm
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MultiLabelBinarizer

from xgboost import XGBClassifier
from sklearn.preprocessing import FunctionTransformer

import ast

import warnings

from tqdm.auto import tqdm

from sklearn.feature_selection import RFECV

from sklearn.model_selection import StratifiedKFold, cross_val_score

from itertools import chain

import dask.dataframe as dd

# Cython imports
from tools import agrupar_categorias_cython, custom_one_hot_encoder_cython, boolean_features_ohe_cython, agrupar_edades_cython, expand_action_list_0_cython

# Fuciones

In [35]:
warnings.filterwarnings('ignore')
tqdm.pandas()

# Agrega filas que contienen categorías desconocidas o raras (poca frecuencia) al conjunto de entrenamiento
def augment_train_data(main_train_df, supplementary_df, umbral_raras=100):
    """
    Agrega filas del dataset suplementario al conjunto de entrenamiento principal
    basándose en categorías desconocidas y raras, evitando la duplicación de filas.

    Parámetros:
    - main_train_df (pd.DataFrame): DataFrame principal de entrenamiento.
    - supplementary_df (pd.DataFrame): DataFrame suplementario del cual se extraerán las filas.
    - umbral_raras (int): Umbral de frecuencia para considerar una categoría como rara.

    Retorna:
    - main_train_df (pd.DataFrame): DataFrame de entrenamiento actualizado.
    - categorias_desconocidas (dict): Diccionario actualizado de categorías desconocidas.
    - categorias_raras (dict): Diccionario actualizado de categorías raras.
    """
    # Definir columnas que no deseas tratar como categóricas
    columns_to_exclude = ['auction_list_0', 'action_list_1', 'action_list_2', 'auction_time']

    # Identificar columnas categóricas excluyendo las especificadas
    categorical_features = main_train_df.select_dtypes(include=['object']).columns.tolist()
    categorical_features = [col for col in categorical_features if col not in columns_to_exclude]
    
    # Crear un diccionario para almacenar las categorías desconocidas por columna
    categorias_desconocidas = {}
    
    # Iterar a través de cada columna categórica para identificar categorías desconocidas
    for columna in categorical_features:
        # Obtener las categorías únicas en el conjunto de entrenamiento
        categorias_train = set(main_train_df[columna].dropna().unique())
        
        # Obtener las categorías únicas en el dataset suplementario
        categorias_suplementario = set(supplementary_df[columna].dropna().unique())
        
        # Identificar las categorías en el dataset suplementario que no están en el entrenamiento
        desconocidas = categorias_suplementario - categorias_train
        
        # Almacenar las categorías desconocidas en el diccionario como una lista
        categorias_desconocidas[columna] = list(desconocidas)
    
    # Inicializar el diccionario para almacenar las categorías raras por columna
    categorias_raras = {}
    
    # Identificar categorías raras en el conjunto de entrenamiento
    for columna in categorical_features:
        # Contar la frecuencia de cada categoría
        frecuencia = main_train_df[columna].value_counts()
        
        # Identificar categorías que aparecen menos de umbral_raras veces
        raras = frecuencia[frecuencia < umbral_raras].index.tolist()
        
        # Almacenar en el diccionario
        categorias_raras[columna] = raras
    
    # Crear una máscara booleana para filas con categorías desconocidas o raras
    mask_desconocidas = pd.Series([False] * len(supplementary_df))
    mask_raras = pd.Series([False] * len(supplementary_df))
    
    for columna in categorical_features:
        # Actualizar la máscara para categorías desconocidas
        if categorias_desconocidas[columna]:
            mask_desconocidas = mask_desconocidas | supplementary_df[columna].isin(categorias_desconocidas[columna])
        
        # Actualizar la máscara para categorías raras
        if categorias_raras[columna]:
            mask_raras = mask_raras | supplementary_df[columna].isin(categorias_raras[columna])
    
    # Combinar ambas máscaras
    mask_total = mask_desconocidas | mask_raras
    
    # Filtrar filas únicas a agregar
    filas_a_agregar = supplementary_df[mask_total].drop_duplicates()
    
    # Mostrar información de agregación
    total_agregadas = len(filas_a_agregar)
    print(f"\nAgregando {total_agregadas} filas del dataset suplementario basadas en categorías desconocidas o raras.")
    
    # Agregar las filas al conjunto de entrenamiento
    main_train_df = pd.concat([main_train_df, filas_a_agregar], ignore_index=True)
    
    # Actualizar los diccionarios eliminando las categorías que ya han sido agregadas
    for columna in categorical_features:
        # Actualizar categorías desconocidas
        if categorias_desconocidas[columna]:
            categorias_agregadas = filas_a_agregar[columna].unique().tolist()
            categorias_desconocidas[columna] = [cat for cat in categorias_desconocidas[columna] if cat not in categorias_agregadas]
        
        # Actualizar categorías raras
        if categorias_raras[columna]:
            # Recontar la frecuencia después de agregar
            frecuencia = main_train_df[columna].value_counts()
            nuevas_raras = frecuencia[frecuencia < umbral_raras].index.tolist()
            categorias_raras[columna] = nuevas_raras
    
    return main_train_df, categorias_desconocidas, categorias_raras

# Agrega como columnas binarias las listas de la columna 'auction_list_0', 'action_list_1' y 'action_list_2'
def expand_list_dummies_cython(df, column, delimiter='|', prefix=None, suffix=None):
    """
    Expande una columna que contiene listas en múltiples columnas binarias usando un one-hot encoder optimizado con Cython.
    
    Parameters:
    - df (pd.DataFrame): DataFrame de pandas.
    - column (str): Nombre de la columna a expandir.
    - delimiter (str): Delimitador a usar en get_dummies (por defecto '|').
    - prefix (str, optional): Prefijo para las nuevas columnas binarias.
    - suffix (str, optional): Sufijo para las nuevas columnas binarias.
    
    Returns:
    - df_expanded (pd.DataFrame): DataFrame con las nuevas columnas binarias añadidas y la columna original eliminada.
    """
    print(f"Comenzando la expansión de la columna: '{column}'")
    
    # Copiar el DataFrame para evitar modificar el original
    df = df.copy()
    
    # Reemplazar NaN por listas vacías
    print(f"Reemplazando NaN en la columna '{column}' por listas vacías.")
    df[column] = df[column].fillna('[]')
    
    # Definir la función de parsing con impresión de errores
    def parse_list(x):
        try:
            parsed = ast.literal_eval(x)
            if isinstance(parsed, list):
                # Convertir todos los elementos a strings
                return [str(item) for item in parsed]
            else:
                # Si no es una lista, tratar como un solo elemento
                return [str(x)]
        except (ValueError, SyntaxError):
            # En caso de error al parsear, retornar una lista vacía
            return []
    
    # Aplicar la función de parsing con una barra de progreso
    df[column] = df[column].progress_apply(parse_list)
    
    # Convertir la columna en una lista de listas para pasarla a la función Cythonizada
    data_list = df[column].tolist()
    
    # Llamar a la función optimizada en Cython
    unique_categories, binary_matrix = custom_one_hot_encoder_cython(data_list)
    print(f"Codificación completada. {len(unique_categories)} categorías únicas encontradas.")
    
    # Crear un DataFrame binario usando la matriz devuelta por Cython
    binary_df = pd.DataFrame(binary_matrix, index=df.index, columns=unique_categories)

    if prefix:
        binary_df = binary_df.add_prefix(f"{prefix}_")
    if suffix:
        binary_df = binary_df.add_suffix(f"_{suffix}")
    
    # Concatenar las columnas binarias al DataFrame original con una barra de progreso
    print("Concatenando las columnas binarias al DataFrame original.")
    for col in tqdm(binary_df.columns, desc="Concatenando columnas binarias"):
        if col in df.columns:
            df[col] = np.where((df[col] == 1) | (binary_df[col] == 1), 1, 0)
        else:
            df[col] = binary_df[col]
    
    # Eliminar la columna original ya que ha sido expandida
    print(f"Eliminando la columna original '{column}' del DataFrame.")
    df = df.drop(columns=[column])
    
    print(f"Expansión de la columna '{column}' completada exitosamente.\n")
    
    return df

# One-hot encode de columnas booleanas utilizando Cython
def boolean_features_ohe(df, columns_to_encode=['auction_boolean_0', 'auction_boolean_1', 'auction_boolean_2']):
    """
    Realiza one-hot encoding en columnas booleanas especificadas utilizando una función optimizada con Cython.
    Además, muestra el progreso del procesamiento utilizando tqdm y añade comentarios explicativos.

    Parámetros:
    - df (pd.DataFrame): DataFrame original que contiene las columnas booleanas a codificar.
    - columns_to_encode (list): Lista de nombres de columnas booleanas a codificar.

    Retorna:
    - df_expanded (pd.DataFrame): DataFrame con las nuevas columnas codificadas añadidas y las columnas booleanas originales eliminadas.
    """
    # Copiar el DataFrame para evitar modificar el original
    df = df.copy()
    print("Inicio del proceso de one-hot encoding para las columnas booleanas especificadas.")

    # Paso 1: Encontrar todos los valores únicos en las columnas a codificar
    unique_values_set = set()
    print("Recopilando valores únicos de las columnas a codificar:")
    for col in tqdm(columns_to_encode, desc="Procesando columnas para valores únicos"):
        unique_vals_col = df[col].dropna().unique()
        unique_values_set.update(unique_vals_col)
    unique_values = sorted(unique_values_set)
    print(f"Valores únicos encontrados: {unique_values}")

    # Paso 2: Convertir las columnas a listas de listas para ser procesadas en Cython
    list_data = []
    print("Convirtiendo las columnas booleanas a listas de listas para Cython:")
    for col in tqdm(columns_to_encode, desc="Convertir columnas a listas"):
        column_list = df[col].astype(str).tolist()  # Mantener los valores como strings
        list_data.append(column_list)
    print("Conversión completada.")

    # Paso 3: Procesar los datos con la función optimizada en Cython
    print("Realizando one-hot encoding utilizando la función optimizada en Cython:")
    ohe_result = boolean_features_ohe_cython(list_data, unique_values)
    print("One-hot encoding completado.")

    # Paso 4: Convertir el resultado de Cython a un DataFrame, alineando el índice con df
    print("Creando el DataFrame de columnas codificadas:")
    ohe_df = pd.DataFrame(ohe_result, columns=unique_values, index=df.index)
    print(f"DataFrame de one-hot encoding creado con {len(ohe_df.columns)} columnas y {ohe_df.shape[0]} filas.")

    # Paso 5: Concatenar las nuevas columnas codificadas al DataFrame original
    print("Concatenando las columnas codificadas al DataFrame original:")
    df_expanded = pd.concat([df, ohe_df], axis=1)
    print(f"Concatenación completada. El DataFrame ahora tiene {df_expanded.shape[1]} columnas y {df_expanded.shape[0]} filas.")

    # Paso 6: Eliminar las columnas booleanas originales del DataFrame
    print("Eliminando las columnas booleanas originales del DataFrame:")
    df_expanded.drop(columns=columns_to_encode, inplace=True)
    print(f"Columnas eliminadas: {columns_to_encode}")

    print("Proceso de one-hot encoding finalizado exitosamente.\n")

    return df_expanded

# Extensión de características temporales (día de la semana, momento del día, etc.) y festividades
def time_features_extension(df):
    """
    Procesa las características temporales del DataFrame y agrega nuevas columnas derivadas relacionadas con el tiempo y festividades.
    """

    # Convertir 'auction_time' de timestamp a una fecha legible
    df['auction_time'] = pd.to_datetime(df['auction_time'], unit='s')

    # Reemplazar NaN en 'timezone_offset' por 0
    df['timezone_offset'] = df['timezone_offset'].fillna(0)

    # Ajustar la hora según el 'timezone_offset' para obtener la hora local
    df['auction_time_local'] = df.apply(
        lambda row: row['auction_time'] + pd.DateOffset(hours=row['timezone_offset']), axis=1
    )

    # Crear la columna 'week_day' (1 para lunes, 7 para domingo)
    df['week_day'] = df['auction_time_local'].dt.weekday + 1

    # Crear la columna 'moment_of_the_day' (1 para temprano, 2 para tarde, 3 para noche)
    df['moment_of_the_day'] = pd.cut(df['auction_time_local'].dt.hour, 
                                     bins=[0, 12, 18, 24], labels=[1, 2, 3], include_lowest=True, right=False)

    # Eliminar las columnas originales 'auction_time', 'timezone_offset' y 'auction_time_local'
    df.drop(columns=['auction_time', 'timezone_offset', 'auction_time_local'], inplace=True)

    return df

# Agrupación de edades en rangos numéricos
def age_group(df, columna_edad):
    """
    Agrupa las edades en rangos numéricos utilizando Cython para mejorar el rendimiento.

    Parámetros:
    - df (pd.DataFrame): DataFrame que contiene la columna de edades.
    - columna_edad (str): Nombre de la columna que contiene las edades.

    Retorna:
    - df (pd.DataFrame): DataFrame con la nueva columna 'age_group' que representa el rango de edad.
    """
    # Convertir la columna de edad a una lista
    edades = df[columna_edad].tolist()

    # Usar la función Cythonizada para agrupar las edades
    df['age_group'] = agrupar_edades_cython(edades)

    # Eliminar la columna original de edades
    df.drop(columns=[columna_edad], inplace=True)

    return df

# Agrupo action_list_0 a auction_list_0
def expand_action_list_0(df):
    """
    Expande la columna 'action_list_0' en valores únicos y marca con 1 las columnas existentes o las crea si es necesario.

    Parámetros:
    - df (pd.DataFrame): DataFrame que contiene la columna 'action_list_0' y otras columnas de listas ya expandidas.

    Retorna:
    - df (pd.DataFrame): DataFrame actualizado con las columnas de valores únicos de 'action_list_0'.
    """

    # Convertir la columna 'action_list_0' y las columnas existentes a listas
    action_list_0 = df['action_list_0'].tolist()
    existing_columns = df.columns.tolist()
    
    # Inicializar la matriz actual
    current_matrix = df.values.tolist()

    # Llamar a la función Cythonizada
    updated_matrix = expand_action_list_0_cython(action_list_0, existing_columns, current_matrix)

    # Convertir la matriz actualizada de vuelta a un DataFrame
    df_updated = pd.DataFrame(updated_matrix, columns=existing_columns)

    # Eliminar la columna 'action_list_0'
    df_updated.drop(columns=['action_list_0'], inplace=True)

    return df_updated

# Concateno las categorias de cada nivel
def create_level_combination(df):
    """
    Creates a new column 'level_combination' by concatenating the first three characters 
    of each 'action_categorical' level columns and removes the original level columns.

    Parameters:
    - df (pd.DataFrame): The input DataFrame containing the columns:
      'action_categorical_0', 'action_categorical_1', 'action_categorical_2', 
      'action_categorical_3', 'action_categorical_4'.

    Returns:
    - pd.DataFrame: The DataFrame with the new 'level_combination' column and without the original level columns.
    """
    level_columns = [
        'action_categorical_0',
        'action_categorical_1',
        'action_categorical_2',
        'action_categorical_3',
        'action_categorical_4'
    ]
    df['level_combination'] = df[level_columns].astype(str).apply(
        lambda x: ''.join([s[:3] for s in x]), axis=1
    )
    df.drop(columns=level_columns, inplace=True)
    return df

# Heigh x Width a columna
def hxw_column(df):
    """
    Crea una nueva columna 'hxw' multiplicando 'creative_height' y 'creative_width'.
    Si alguno de los dos tiene un NaN, 'hxw' se establece en 0.
    Elimina las columnas originales 'creative_height' y 'creative_width'.
    
    Parámetros:
    - df (pd.DataFrame): DataFrame que contiene las columnas 'creative_height' y 'creative_width'.
    
    Retorna:
    - pd.DataFrame: DataFrame con la nueva columna 'hxw' añadida y las columnas originales eliminadas.
    """
    df['hxw'] = df['creative_height'] * df['creative_width']
    df.loc[df['creative_height'].isna() | df['creative_width'].isna(), 'hxw'] = 0
    df.drop(columns=['creative_height', 'creative_width'], inplace=True)
    return df

# Gender to number
def encode_gender(df):
    """
    Reemplaza los valores de la columna 'gender' de la siguiente manera:
    'f' -> 1, 'm' -> 2, 'o' -> 0 y NaN -> -1.
    
    Parámetros:
    - df (pd.DataFrame): DataFrame que contiene la columna 'gender'.
    
    Retorna:
    - pd.DataFrame: DataFrame con la columna 'gender' codificada.
    """
    df['gender'] = df['gender'].map({'f': 1, 'm': 2, 'o': 0}).fillna(-1).astype(int)
    return df

# creative_categorical_11, creative_categorical_9 y creative_categorical_10 a dos columnas
def creatives2unique(df):
    """
    Crea o actualiza dos columnas en el DataFrame, una para cada valor único en las columnas
    'creative_categorical_11', 'creative_categorical_10', y 'creative_categorical_9'.
    Si las columnas ya existen, actualiza los valores a 1 donde ese valor aparece en alguna
    de las tres columnas en esa fila.

    Parámetros:
    - df (pd.DataFrame): DataFrame que contiene las columnas 'creative_categorical_11',
                         'creative_categorical_10', y 'creative_categorical_9'.

    Retorna:
    - pd.DataFrame: DataFrame con las nuevas columnas añadidas o actualizadas.
    """
    unique_values = {'65dcab89', '43c867fd'}
    columns_to_check = [
        'creative_categorical_11',
        'creative_categorical_10',
        'creative_categorical_9'
    ]

    for val in unique_values:
        if val in df.columns:
            # Si la columna ya existe, actualizamos los valores a 1 donde corresponde
            df[val] = df[val] | df[columns_to_check].eq(val).any(axis=1).astype(int)
        else:
            # Si no existe, creamos la columna con 1 donde corresponde
            df[val] = df[columns_to_check].eq(val).any(axis=1).astype(int)

    # Eliminar las columnas originales
    df.drop(columns=columns_to_check, inplace=True)
    
    return df


# Procesamiento optimizado de un DataFrame
def process_optimized(df):
    """
    Aplica una serie de transformaciones al DataFrame utilizando una función Cython optimizada.
    
    Parámetros:
    - df (pd.DataFrame): DataFrame a procesar.
    
    Retorna:
    - df (pd.DataFrame): DataFrame procesado.
    """
    # Definir el número total de pasos para la barra de progreso
    total_steps = 13
    
    # Inicializar la barra de progreso
    with tqdm(total=total_steps, desc="Procesando DataFrame", unit="paso") as pbar:
        
        print("Comenzando el procesamiento optimizado del DataFrame.")
        print("Eliminando columnas innecesarias.")
        df = df.drop('action_categorical_5', axis=1)
        df = df.drop('auction_categorical_2', axis=1)
        pbar.update(1)

        print("Expansión de columnas temporales")
        df = time_features_extension(df)
        pbar.update(1)

        df = age_group(df, 'auction_age')
        pbar.update(1)

        print("Agrupando columnas de nivel")
        df = create_level_combination(df)
        pbar.update(1)

        print("Modificando columnas de genero")
        df = encode_gender(df)
        pbar.update(1)
        
        print("Modificando columna de video")
        df['has_video'] = df['has_video'].apply(lambda x: 1 if x == True else 0)
        pbar.update(1)

        print("Juntando medidas")
        df = hxw_column(df)
        pbar.update(1)

        print("Expansión de columnas booleanas.")
        df = boolean_features_ohe(df)
        pbar.update(1)

        print("Creando columnas de creatividad")
        df = creatives2unique(df)
        pbar.update(1)
        
        columns_to_expand = ['auction_list_0', 'action_list_1']

        # Bucle para realizar las operaciones
        for col in columns_to_expand:
            print(f"Expansión de columnas de listas para {col}.")
            
            # Crear la variable 'idx_position' con la última columna antes de la expansión
            idx_position = df.columns.get_loc(df.columns[-1])
            
            # Expansión de la columna
            df = expand_list_dummies_cython(df, col)
            pbar.update(1)

            if col == 'action_list_1':
                df = expand_list_dummies_cython(df,'action_list_2')
                pbar.update(1)
            
            if col == 'auction_list_0':
                # Bucle para recorrer las columnas que empiezan con 'AND' o 'APL'
                if 'AND-APL' not in df.columns:
                    df['AND-APL'] = 0  # Inicializar la columna 'AND-APL'

                for column in df.columns:
                    if column.startswith('AND') or column.startswith('APL'):
                        # Poner un 1 en 'AND-APL' si la columna actual tiene un 1 en esa fila
                        df['AND-APL'] = df['AND-APL'] | df[column]

                # Eliminar todas las columnas que empiezan con 'AND' o 'APL' excepto la columna 'AND-APL'
                columns_to_drop = [column for column in df.columns if (column.startswith('AND') or column.startswith('APL')) and column != 'AND-APL']
                df.drop(columns=columns_to_drop, inplace=True)

                print("Complementamos con la columna 'action_list_0'")
                df = expand_action_list_0(df)
                pbar.update(1)

            # Crear la lista de columnas numéricas a partir de la siguiente columna después de 'idx'
            categorical_num = df.iloc[:, idx_position:].select_dtypes(include=['number']).columns

            # Eliminar columnas numéricas con menos de 1000 valores iguales a 1
            for column in categorical_num:
                if (df[column] == 1).sum() < 1000 and column != 'AND-APL':
                    print(f"Eliminando columna '{column}' por tener menos de 1000 valores iguales a 1.")
                    df.drop(column, axis=1, inplace=True)
    
        
        print("Agrupando categorias poco frecuentes")

        categorical_str = df.select_dtypes(include=['object']).columns
        categorical_str = categorical_str[categorical_str != 'device_id']
        
        categorical_num = df.select_dtypes(include=['number']).columns
        
        # Convertir a matriz bidimensional
        data_matrix = df[categorical_str].values.tolist()
        data_matrix_cython = [list(row) for row in data_matrix]
        
        # Llamar a la función Cythonizada
        df_cython_data = agrupar_categorias_cython(
            categorical_features=categorical_str.tolist(),
            data=data_matrix_cython,
            umbral=100  # Umbral de frecuencia para considerar una categoría como rara
        )

        # Reasignar los datos al DataFrame
        for i, col in enumerate(categorical_str):
            df[col] = [row[i] for row in df_cython_data]

        
        print("Tratamos los valores faltantes de manera diferenciada")
        # Manejar los valores faltantes de manera diferenciada
        # Aplicar fillna de manera individual para cada columna de tipo 'str' (objetos)
        for col in categorical_str:
            df[col] = df[col].fillna('Desconocido')

        # Aplicar fillna de manera individual para cada columna numérica
        for col in categorical_num:
            df[col] = df[col].fillna(0)

        
    return df

# Función para ajustar el tipo de datos de una columna para que Dask tome Nan como valor válido
def adjust_dtype(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return 'Int64'
    elif pd.api.types.is_float_dtype(dtype):
        return 'float64'
    elif pd.api.types.is_bool_dtype(dtype):
        return 'boolean'
    else:
        return 'object'
    
# Procesamiento de datos con Dask
def process_data_with_dask(df, npartitions=10, meta_df=None):
    """
    Procesa un DataFrame utilizando Dask para distribuir el trabajo en varias particiones.
    Aplica la función process_optimized a cada partición del DataFrame.

    Parámetros:
    - df (pd.DataFrame): El DataFrame de pandas a procesar.
    - npartitions (int): Número de particiones en las que se dividirá el DataFrame para su procesamiento.

    Retorna:
    - final_df (pd.DataFrame): El DataFrame procesado y concatenado.
    """
    # Convertir el DataFrame de pandas a Dask con el número de particiones especificado
    dask_df = dd.from_pandas(df, npartitions=npartitions)
    
    # Crear el meta DataFrame con tipos ajustados
    meta = df.head(0).copy()
    for col in meta.columns:
        meta[col] = meta[col].astype(adjust_dtype(df[col].dtype))
        
    # Aplicar la función con map_partitions y especificar el meta
    dask_df = dask_df.map_partitions(
        lambda df_partition: process_optimized(df_partition),
        meta=meta
    )

    # Ejecutar el cálculo distribuido y convertir el resultado a pandas
    final_df = dask_df.compute()

    return final_df

# Función para calcular la estadística de Cramér's V
def cramers_v(confusion_matrix):
    """
    Calcula la estadística de Cramér's V para medir la asociación entre dos variables categóricas.

    Parameters:
    - confusion_matrix: Matriz de confusión (tabla de contingencia) entre dos variables.

    Returns:
    - Cramér's V: Valor entre 0 y 1 que indica la fuerza de la asociación.
    """
    # Calcular el estadístico chi-cuadrado
    chi2 = chi2_contingency(confusion_matrix, correction=False)[0]
    # Número total de observaciones
    n = confusion_matrix.sum().sum()
    # Obtener el número de filas y columnas de la matriz de confusión
    r, k = confusion_matrix.shape
    if min(r, k) == 1:
        return np.nan  # Evitar dividir por cero
    # Calcular Cramér's V
    return np.sqrt(chi2 / (n * (min(r, k) - 1)))

def handle_none(value):
    return 'None' if value is None else str(value)

# Limpieza de datos

## Concatenamos datasets

In [ ]:
train_data_21 = pd.read_csv('data/ctr_21.csv')

In [13]:
train_data_20 = pd.read_csv('data/ctr_20.csv')
train_data_19 = pd.read_csv('data/ctr_19.csv')
train_data_18 = pd.read_csv('data/ctr_18.csv')
train_data_17 = pd.read_csv('data/ctr_17.csv')
train_data_16 = pd.read_csv('data/ctr_16.csv')
train_data_15 = pd.read_csv('data/ctr_15.csv')

In [ ]:
supplementary_datasets = [
    ('1', train_data_20),
    ('2', train_data_19),
    ('3', train_data_18),
    ('4', train_data_17),
    ('5', train_data_16),
    ('6', train_data_15)
]

train_data = train_data_21

In [ ]:
for nombre, dataset in supplementary_datasets:
    print(f"\nProcesando dataset {nombre}/{len(supplementary_datasets)}")
    train_data, categorias_desconocidas, categorias_raras = augment_train_data(train_data, dataset)

In [ ]:
print(train_data.shape[0])

print(train_data_20.shape[0] + train_data_19.shape[0] + train_data_18.shape[0] + train_data_17.shape[0] + train_data_16.shape[0] + train_data_15.shape[0] + train_data_21.shape[0])

In [ ]:
train_data.to_csv('train_data_combined.csv', index=False)

## Ingenieria de atributos

In [37]:
train_data = pd.read_csv('train_data_combined.csv')

In [13]:
test = pd.read_csv('data/ctr_test.csv')

In [6]:
# Categorias numericas
numeric_columns = train_data.select_dtypes(include=['number']).columns.tolist()

# Categorias categóricas
categorical_features = train_data.select_dtypes(include=['object']).columns.tolist()

#### Distribucion de 'Label'

In [ ]:
# Imprimir la cantidad de filas del dataset combinado
print(f"Cantidad de filas en el dataset combinado: {train_data.shape[0]}")
print(f"Cantidad de columnas en el dataset combinado: {train_data.shape[1]}")

# Ver porcentaje de clics vs no clics en la columna Label
label_counts = train_data['Label'].value_counts(normalize=True) * 100
print("\nPorcentaje de clics (1) y no clics (0):")
print(label_counts)

# Cantidad de clics (1) y no clics (0)
label_counts_abs = train_data['Label'].value_counts()
print("\nCantidad de clics (1) y no clics (0):")
print(label_counts_abs)

#### Correlaciones con 'Label'

##### Numeric features

In [ ]:
# Correlation analysis with 'Label'
numeric_data = train_data[numeric_columns]
correlation_with_label = numeric_data.corr()['Label'].sort_values(key=abs, ascending=False)

# Print correlations with 'Label'
print("Correlation of features with 'Label' (sorted by absolute value):")
for feature, corr in correlation_with_label.items():
    if feature != 'Label':
        print(f"{feature}: {corr:.4f}")

# Visualize top correlations with 'Label'
plt.figure(figsize=(12, 8))
top_correlations = correlation_with_label.drop('Label').abs()
sns.barplot(x=top_correlations.values, y=top_correlations.index)
plt.title('Numerical Features Correlated with Label')
plt.xlabel('Absolute Correlation')
plt.tight_layout()
plt.show()

##### Categorical features

In [ ]:
# Calculate Cramer's V for each categorical feature with 'Label'
cramer_v_results = {}
for col in categorical_features:
    confusion_matrix = pd.crosstab(train_data[col], train_data['Label'])
    cramer_v_results[col] = cramers_v(confusion_matrix)

# Sort results
cramer_v_results = dict(sorted(cramer_v_results.items(), key=lambda item: item[1], reverse=True))

# Visualize top Cramer's V results
plt.figure(figsize=(12, 8))
top_features = dict(list(cramer_v_results.items())[:20])
sns.barplot(x=list(top_features.values()), y=list(top_features.keys()))
plt.title("Top 20 Categorical Features by Cramer's V with Label")
plt.xlabel("Cramer's V")
plt.tight_layout()
plt.show()

# Print results
print("Cramer's V for categorical features with 'Label':")
for feature, v in top_features.items():
    print(f"{feature}: {v:.4f}")

#### Missing values

In [ ]:
# Análisis de datos faltantes (sin cambios)
missing_data = train_data.isnull().sum() / len(train_data) * 100
missing_data = missing_data[missing_data > 10].sort_values(ascending=False)  # Filtrar las columnas con más del 10% de datos faltantes

# Visualizar datos faltantes
plt.figure(figsize=(10, 6))
sns.barplot(x=missing_data.values, y=missing_data.index)
plt.title('Percentage of Missing Data by Numerical Feature (>10%)')
plt.xlabel('Percentage Missing')
plt.tight_layout()
plt.show()

# Imprimir resultados
print("\nPercentage of Missing Data by Feature (>10% missing):")
for feature, percentage in missing_data.items():
    print(f"{feature}: {percentage:.2f}%")

In [ ]:
# Crear un DataFrame de ejemplo
data = {
    'auction_boolean_0': ['47980dda', '43c867fd', None, '79ceee49', '47980dda', 'unknown'],
    'auction_boolean_1': ['79ceee49', None, '79ceee49', None, '1', '0'],
    'auction_boolean_2': ['65dcab89', None, '43c867fd', '65dcab89', '65dcab89', '43c867fd'],
    'Label': [0, 1, 0, 1, 0, 1]
}

# Crear el DataFrame
train_data_combined = pd.DataFrame(data)

# Seleccionar solo las columnas relevantes
df = train_data_combined[['auction_boolean_0', 'auction_boolean_1', 'auction_boolean_2', 'Label']]

print("DataFrame Original:")
print(df)
print("\n")

# Convertir el DataFrame a una lista de listas
data_list = df.values.tolist()

# Definir columnas categóricas y columnas a excluir
categorical_features = ['auction_boolean_0', 'auction_boolean_1', 'auction_boolean_2']
columns_to_exclude = []  # No se excluye ninguna en este ejemplo

# Aplicar la función de agrupación de categorías en Cython
data_processed = agrupar_categorias_cython(categorical_features, data_list, umbral=2)

# Convertir la lista de listas de nuevo a DataFrame para visualizar
df_processed = pd.DataFrame(data_processed, columns=['auction_boolean_0', 'auction_boolean_1', 'auction_boolean_2', 'Label'])

print("DataFrame después de Agrupar Categorías con Cython:")
print(df_processed)

#### Valores unicos y su frecuencia

In [ ]:
for column in train_data.columns:
    if train_data[column].value_counts() < 1000:
        print(f"Columna: {column}")
        print(f"Valores únicos y su frecuencia:")
        print(train_data[column].value_counts())
        print("-" * 50)  # Separador entre columnas

In [ ]:
# Diccionario para almacenar los valores únicos de cada columna
unique_values = {col: set(train_data[col].dropna().unique()) for col in categorical_features}

# Diccionario para almacenar las columnas que tienen valores comunes
common_columns = {}

# Comparar las columnas entre sí para ver qué valores comparten
for i in range(len(categorical_features)):
    for j in range(i + 1, len(categorical_features)):
        col1 = categorical_features[i]
        col2 = categorical_features[j]
        
        # Ver los valores que se repiten entre las dos columnas
        common_values = unique_values[col1].intersection(unique_values[col2])
        
        if common_values:
            # Almacenar las columnas con valores comunes
            if (col1, col2) not in common_columns:
                common_columns[(col1, col2)] = common_values

# Ver las columnas que tienen valores comunes y sus unique values
for col_pair, common_vals in common_columns.items():
    col1, col2 = col_pair
    print(f"\nValores comunes entre {col1} y {col2}: {common_vals}")
    print(f"Valores únicos de {col1}: {len(unique_values[col1])}")
    print(f"Valores únicos de {col2}: {len(unique_values[col2])}")

##### action_categorical_5 (motivos para eliminarlo)

In [ ]:
value_to_check = '6bc0e29c'
filtered_rows = test[test['action_categorical_5'] == value_to_check]

# Verificar si el valor aparece en otras columnas categóricas
for col in categorical_features:
    if col != 'action_categorical_5':  # Evitar verificar la columna original
        matching_rows = filtered_rows[filtered_rows[col] == value_to_check]
        if not matching_rows.empty:
            print(f"El valor '{value_to_check}' también aparece en la columna '{col}'")

# Ver filas donde el valor aparece solo en action_categorical_5
only_in_action_5 = filtered_rows[~filtered_rows[categorical_features].isin([value_to_check]).any(axis=1)]
print(f"Filas donde el valor '{value_to_check}' solo aparece en 'action_categorical_5':")
print(only_in_action_5)

In [ ]:
value_to_check = '79ceee49'
filtered_rows = test[test['action_categorical_5'] == value_to_check]

# Verificar si el valor aparece en otras columnas categóricas
for col in categorical_features:
    if col != 'action_categorical_5':  # Evitar verificar la columna original
        matching_rows = filtered_rows[filtered_rows[col] == value_to_check]
        if not matching_rows.empty:
            print(f"El valor '{value_to_check}' también aparece en la columna '{col}'")

# Ver filas donde el valor aparece solo en action_categorical_5
only_in_action_5 = filtered_rows[~filtered_rows[categorical_features].isin([value_to_check]).any(axis=1)]
print(f"Filas donde el valor '{value_to_check}' solo aparece en 'action_categorical_5':")
print(only_in_action_5)

##### auction_categorical_2 (motivos para eliminarlo)

In [ ]:
# Show unique values of auction_categorical_2
print("Unique values of 'auction_categorical_2':")
print(train_data['auction_categorical_2'].unique())

#### Levels features

In [ ]:
level_features = ['action_categorical_0', 'action_categorical_1', 'action_categorical_2', 'action_categorical_3', 'action_categorical_4']

print(f"Valores únicos y su frecuencia:")
for column in train_data.columns:
    if column in level_features:
        print(f"Columna: {column}")
        print(train_data[column].value_counts())
        print("-" * 50)  # Separador entre columnas

In [ ]:
# Bucle para contar los NaNs en cada columna
for column in level_features:
    num_nans = train_data[column].isna().sum()
    print(f"Columna {column} tiene {num_nans} valores NaN.")

In [ ]:
# Crear una columna con las combinaciones únicas de las 5 columnas pero tomando solo las dos primeras letras de cada valor
truncated_cols = train_data[level_features].applymap(lambda x: x[:3])

# Concatenar las columnas truncadas
train_data['combination'] = truncated_cols.apply(lambda row: ''.join(row.values), axis=1)

# Obtener las combinaciones únicas y sus frecuencias
combination_counts = train_data['combination'].value_counts().reset_index()
combination_counts.columns = ['Combination', 'Frequency']

# Mostrar las primeras 10 combinaciones más comunes
print(combination_counts.head(25))
print(f"De: {len(combination_counts)} combinaciones únicas.")

# Graficar las combinaciones más frecuentes
plt.figure(figsize=(12, 6))
top_combinations = combination_counts.head(25)  # Mostrar las 25 combinaciones más comunes
sns.barplot(x='Frequency', y='Combination', data=top_combinations)
plt.title("Top 25 Combinations of Action Categorical Columns out of {} Unique Combinations".format(len(combination_counts)))
plt.xlabel('Frequency')
plt.tight_layout()
plt.show()

In [ ]:
# Combinaciones menos comunes (< 10000 veces)
print(combination_counts[combination_counts['Frequency'] <= 1])

# Suma de todas las frecuencias de las combinaciones menos comunes
print(f"Suma de las frecuencias de las combinaciones menos comunes: {combination_counts[combination_counts['Frequency'] <= 1]['Frequency'].sum()}")

In [ ]:
levels_df = create_level_combination(train_data)

levels_df['level_combination']

#### Boolean Features

In [ ]:
boolean_features = ['auction_boolean_0', 'auction_boolean_1', 'auction_boolean_2']

for column in train_data.columns:
    if column in boolean_features:
        print(f"Columna: {column}")
        print(f"Valores únicos y su frecuencia:")
        print(train_data[column].value_counts())
        print("-" * 50)

In [ ]:
# Bucle para contar los NaNs en cada columna
for column in boolean_features:
    num_nans = train_data[column].isna().sum()
    print(f"Columna {column} tiene {num_nans} valores NaN.")

Creamos una funcion para resolverl el problema de los valores booleanos

In [ ]:
# Crear un DataFrame de ejemplo
data = {
    'auction_boolean_0': ['47980dda', '43c867fd', None, '79ceee49'],
    'auction_boolean_1': ['79ceee49', None, '79ceee49', None],
    'auction_boolean_2': ['65dcab89', None, '43c867fd', '65dcab89'],
    'Label': [0, 1, 0, 1]
}

# Crear el DataFrame
train_data = pd.DataFrame(data)

# Imprimir el DataFrame original
print("DataFrame Original:")
print(train_data)

# Aplicar la función personalizada de one-hot encoding
train_data_encoded = boolean_features_ohe(train_data)

# Imprimir el DataFrame resultante
print("\nDataFrame después del One-Hot Encoding personalizado:")
print(train_data_encoded)

#### Time features

In [ ]:
time_features = ['auction_time', 'auction_age', 'timezone_offset']

for column in train_data.columns:
    if column in time_features:
        print(f"Columna: {column}")
        print(f"Valores únicos y su frecuencia:")
        print(train_data[column].value_counts())
        print("-" * 50)

In [ ]:
# Bucle para contar los NaNs en cada columna
for column in time_features:
    num_nans = train_data[column].isna().sum()
    print(f"Columna {column} tiene {num_nans} valores NaN.")

In [ ]:
# Asegúrate de tener la columna 'auction_age' en tu train
if 'auction_age' in train_data.columns:
    # Obtener los valores únicos y su frecuencia
    unique_ages = train_data['auction_age'].value_counts().sort_index()

    # Imprimir cada edad y su frecuencia
    for age, frequency in unique_ages.items():
        print(f"Edad: {age}, Frecuencia: {frequency}")

##### Funcion para crear atributos temporales

In [ ]:
# time_features_extension

data = {
    'auction_time': [
        1545676800,  # 24 de Diciembre de 2018, 22:00:00
        1483228800,  # 31 de Diciembre de 2016, 23:00:00
        1288396800,  # 30 de Octubre de 2010, 10:00:00
        1412899200,  # 10 de Octubre de 2014, 15:00:00
        1483574400   # 5 de Enero de 2017, 09:00:00
    ],
    'timezone_offset': [1, -2, 3, 0, 5]  # Diferentes zonas horarias
}

df = pd.DataFrame(data)

df = time_features_extension(df)

# Imprimir el DataFrame resultante
print("\nDataFrame después de procesar el tiempo de subasta:")
print(df)

In [ ]:
# age_group

data = {
    'auction_age': [
        -1, 15, 25, 35, 50, 65, 105, 80, 18, 99, 0, 579
    ]
}

# Crear el DataFrame
df = pd.DataFrame(data)

df = age_group(df, 'auction_age')
print(df)

In [ ]:
# Quiero tomar las filas que sean de tipo label 1 y que me digan si esta cerca de una festividad o no con mi train_data

# Crea un dataframe solo con las filas que tienen Label 1 a partir de train_data

df = train_data[train_data['Label'] == 1]

# Aplica la función time_features_extension al dataframe

df = time_features_extension(df)

# Imprimir las frecuencias de los valores que toman las columnas que se crearon con time_features_extension (week_day time_of_month moment_of_the_day  close_to_festivity)

for column in ['week_day', 'time_of_month', 'moment_of_the_day']:
    print(f"Columna: {column}")
    print(f"Valores únicos y su frecuencia:")
    print(df[column].value_counts())
    print("-" * 50)

In [ ]:
# Aplica la función time_features_extension al dataframe

test = time_features_extension(test)

# Imprimir las frecuencias de los valores que toman las columnas que se crearon con time_features_extension (week_day time_of_month moment_of_the_day  close_to_festivity)

for column in ['week_day', 'time_of_month', 'moment_of_the_day']:
    print(f"Columna: {column}")
    print(f"Valores únicos y su frecuencia:")
    print(test[column].value_counts())
    print("-" * 50)

#### List features

In [5]:
list_features = ['auction_list_0', 'action_list_1', 'action_list_2', 'action_list_0']

for column in train_data.columns:
    if column in list_features:
        print(f"Columna: {column}")
        print(f"Valores únicos y su frecuencia:")
        print(train_data[column].value_counts())
        print("-" * 50)

Columna: action_list_0
Valores únicos y su frecuencia:
action_list_0
IAB22-2    2205731
IAB8-9     2028905
IAB22      1884078
IAB20-6    1410061
IAB9-30     781816
IAB20       145437
Name: count, dtype: int64
--------------------------------------------------
Columna: action_list_1
Valores únicos y su frecuencia:
action_list_1
[-6779]                                                           353446
[-6824, -6823]                                                    178293
[-7195, 6902, 6903]                                               172602
[6874, -7199, 7190, 6871]                                         153690
[6874, 7190, -6871]                                               146716
                                                                   ...
[-6118, -5736, -2606, -6613, 6902, -5559, -7033, -7195, -6780]         1
[-6615, -6614, 6871, -7199]                                            1
[-6614, -7190, 6615, -6454, -6871, 6618, -6874]                        1
[6617, -5736, 6451, -6613, 6902, -5559, -7033, 7195]                   1
[-6614, -6824, -7190, 6454, -6871, 6874, 6618]                         1
Name: count, Length: 155636, dtype: int64
--------------------------------------------------
Columna: action_list_2
Valores únicos y su frecuencia:
action_list_2
[6871, -6543, -6544, -6946, -6820, -6822, -6823, -6825, -6454, -7111, -7112, -6218, -6220, -6224, -6865, -6226, -6867, -6615, -6618, -6875, 6876, -6621, -5603, -5604, -5605, -6119, -6866]                                                                           120675
[-2560, -5902, -5613, -6800, -6547, -6548, 6938, -7195, -7196, -6309, -6451, -5559, -5560, -6848, -6849, -6850, -5576, -5577, -5578, -5579, -7126, -7127, -6616, -6617, -6620, -5469, -5470, -5471, -6118, -7143, -6125, -6770, -6774, -6775, -6904, -6905, -6780]    116454
[-5902, -5613, -6800, -6547, -6548, 6938, -7195, -7196, -6309, -6451, -5559, -5560, -6848, -6849, -6850, -5576, -5577, -5578, -5579, -7126, -7127, -6616, -6617, -6620, -5469, -5470, -5471, -6118, -7143, -6125, -6770, -6774, -6775, -6904, -6905, -6780]           110686
[-2560, -5902, -5613, -6800, -6547, -6548, -6938, -7195, 7196, -6309, -6451, -5559, -5560, -6848, -6849, -6850, -5576, -5577, -5578, -5579, -7126, -7127, -6616, -6617, -6620, -5469, -5470, -5471, -6118, -6125, -6770, -6774, -6775, -6904, -6905, -6780]            72178
[-5603, -5604, -5605, -6217, -6219, -6223, 6226]                                                                                                                                                                                                                       71789
                                                                                                                                                                                                                                                                       ...
[-5902, -6800, -6547, -6548, -6938, -7195, -7196, -6309, -5559, -5560, -6848, -6849, 6850, -5576, -5577, -5578, -7126, -7127, -6620, -5469, -5470, -5471, -6118, -7143, -6125, -6770, 6774, -6775, -6904]                                                                  1
[-6871, -6543, 6544, -6929, -7190, -6946, -6823, -7111, -7112, -6218, -6220, -6224, -6865, -6866, -6615, -6618, -6875, -6876, -7263, -7264, -7265, -5603, -5604, -5605, -6119, -6226]                                                                                      1
[-5902, -5613, -6800, -6547, -6548, 6938, -7195, -7196, -6309, -5559, -5560, -6848, -6849, -6850, -5576, -5577, -5578, -5579, -7126, -7127, -5469, -5470, -5471, -7143, -6125, 6770, -6774, -6775, -6904, -6905, -6780]                                                    1
[-5902, -5613, -6800, -6547, -6548, 6938, -7195, -7196, -6309, -5559, -5560, -6849, -6850, -5576, -5577, -5579, -7127, -6620, -5469, -6118, -7143, -6125, -6770, -6904, -6905, -6780]                                                                                      1
[-5577, -5579, -6800, -6547, -6548, -6774, -6616, -6905, 7196, -5471]                                                                                                                                                                                                      1
Name: count, Length: 625353, dtype: int64
--------------------------------------------------
Columna: auction_list_0
Valores únicos y su frecuencia:
auction_list_0
["IAB3","utilities"]                                                                                                                                                                                                                                                                                                                        1053587
["IAB3","productivity"]                                                                                                                                                                                                                                                                                                                      667649
["social_networking","IAB24","lifestyle","IAB14"]                                                                                                                                                                                                                                                                                            597943
["social_networking","IAB24"]                                                                                                                                                                                                                                                                                                                477676
["IAB3"]                                                                                                                                                                                                                                                                                                                                     340092
                                                                                                                                                                                                                                                                                                                                             ...
["IAB19","IAB9","IAB19-29","IAB9-23","IAB9-22","IAB9-21","IAB9-20","IAB9-27","IAB9-26","IAB9-25","IAB9-24","IAB9-29","IAB9-28","IAB9-8","IAB9-9","IAB9-1","IAB9-2","IAB9-3","IAB9-4","IAB9-5","IAB9-6","IAB9-7","IAB9-30","IAB9-31","IAB9-18","IAB9-19","IAB9-12","IAB9-13","IAB9-10","IAB9-11","IAB9-16","IAB9-17","IAB9-14","IAB9-15"]          1
["IAB18","IAB19","IAB19-3","IAB2","IAB15","IAB1","IAB19-30","IAB3","IAB19-18","IAB19-19","IAB6","IAB9","IAB9-1","IAB4","IAB5"]                                                                                                                                                                                                                    1
["IAB12","IAB18"]                                                                                                                                                                                                                                                                                                                                 1
["IAB19","IAB4-5","IAB19-18","IAB1","IAB19-30","IAB3","IAB4","IAB22","IAB6","IAB9-1","IAB9","IAB19-19"]                                                                                                                                                                                                                                           1
["IAB19","IAB22","IAB9-25","IAB10","IAB17","IAB14","IAB19-18","IAB1","IAB19-30","IAB5-15","IAB10-3","IAB19-19","IAB17-35","IAB9","IAB5","IAB9-3","IAB1-5","IAB9-5","IAB3","IAB9-7"]                                                                                                                                                               1
Name: count, Length: 443, dtype: int64
--------------------------------------------------

In [ ]:
# Bucle para contar los NaNs en cada columna
for column in list_features:
    num_nans = train_data[column].isna().sum()
    print(f"Columna {column} tiene {num_nans} valores NaN.")

##### Funcion para hacer columnas de listas

In [ ]:
# Crear un DataFrame de prueba más pequeño
data = {
    'auction_list_0': ['["IAB3","utilities", "IAB22-2"]', '["IAB19","IAB4-5", "IAB8-9"]', None, '["IAB3","utilities", "IAB22-2"]'],
    'action_list_1': ['[-6779]', '[-6824, -6823]', None, '[-6824, -6823]' ],
    'action_list_2': ['[6871, -6543, -6544]', '[-2560, -5902]', '[-6779]', None],
    'action_list_0': ['IAB8-9', 'IAB22-2', 'IAB9-30', 'IAB9-30']
}

# Crear el DataFrame
df = pd.DataFrame(data)

print('Antes de utilizar la función expand_list_dummies_cython:')
print(df)

# Aplicar la función expand_list_dummies_cython en 'auction_list_0', 'action_list_1' y 'action_list_2'
# Aquí se asume que ya has definido y aplicado `expand_list_dummies_cython`
df = expand_list_dummies_cython(df, 'auction_list_0')
df = expand_list_dummies_cython(df, 'action_list_1')
df = expand_list_dummies_cython(df, 'action_list_2')

print('Antes de utilizar la función expand_action_list_0:')
print(df)

print()

print('Después de utilizar la función expand_action_list_0:')
df = expand_action_list_0(df)
print(df)

#### Pixels features

In [4]:
pixels_features = ['creative_height', 'creative_width']

for column in train_data.columns:
    if column in pixels_features:
        print(f"Columna: {column}")
        print(f"Valores únicos y su frecuencia:")
        print(train_data[column].value_counts())
        print("-" * 50)

Columna: creative_height
Valores únicos y su frecuencia:
creative_height
50.0      4674216
250.0     1935919
480.0      406386
320.0       74053
90.0        49704
768.0        6697
1024.0       4781
Name: count, dtype: int64
--------------------------------------------------
Columna: creative_width
Valores únicos y su frecuencia:
creative_width
320.0     5080520
300.0     1936001
480.0       74053
728.0       49704
1024.0       6697
768.0        4781
Name: count, dtype: int64
--------------------------------------------------

In [ ]:
# Bucle para contar los NaNs en cada columna
for column in pixels_features:
    num_nans = train_data[column].isna().sum()
    print(f"Columna {column} tiene {num_nans} valores NaN.")

In [ ]:
# Contar las filas donde ambas columnas tienen valores NaN
nans_both_columns = train_data[pixels_features].isna().all(axis=1).sum()

print(f"El número de filas donde ambas columnas tienen valores NaN es: {nans_both_columns}")

In [ ]:
# Volver a filtrar las filas donde ambas columnas son NaN
filtered_rows = train_data[train_data['creative_height'].isna() & train_data['creative_width'].isna()]

# Calcular el porcentaje de cada valor de 'Label' en las filas donde ambas columnas tienen valores NaN
label_counts = filtered_rows['Label'].value_counts(normalize=True) * 100

# Mostrar los resultados
label_counts

In [ ]:
# Filtrar las filas donde tanto creative_height como creative_width son NaN
subset_nan = train_data[train_data['creative_height'].isna() & train_data['creative_width'].isna()]

# Recorrer todas las columnas y mostrar particularidades en las 1,304,272 filas
for column in train_data.columns:
    unique_values = subset_nan[column].nunique()
    num_nans = subset_nan[column].isna().sum()
    
    print(f"Columna: {column}")
    print(f"Valores únicos: {unique_values}")
    print(f"Cantidad de NaNs: {num_nans}")
    print("-" * 50)

In [ ]:
# Valores unicos de la variable categorica auction_categorical_2
unique_values = train_data['auction_categorical_2'].unique()

unique_values

#### Creative features

In [ ]:
columns_to_check = [
    'creative_categorical_11',
    'creative_categorical_10',
    'creative_categorical_9'
]
unique_vals = {'65dcab89', '43c867fd'}

mask = train_data[columns_to_check].apply(lambda row: set(row).issubset(unique_vals) and len(set(row)) == 1, axis=1)

train_data[mask]

No podemos eliminar las columnas pero si podemos crear dos nuevas que tomen los nombres de los dos valores unicos de estas columnas

#### Auction categorical

In [8]:
entity_id  = ["auction_categorical_0", "auction_categorical_1", "auction_categorical_7", "auction_categorical_8", "auction_categorical_9", "auction_categorical_11"]

auction_categorical_variable = ["auction_categorical_2", "auction_categorical_3", "auction_categorical_4", "auction_categorical_5", "auction_categorical_6", "auction_categorical_10", "auction_categorical_12"]

In [ ]:
for column in train_data.columns:
    if column in entity_id:
        print(f"Columna: {column}")
        print(f"Valores únicos y su frecuencia:")
        print(train_data[column].value_counts())
        print("-" * 50)

In [ ]:
for column in train_data.columns:
    if column in auction_categorical_variable:
        print(f"Columna: {column}")
        print(f"Valores únicos y su frecuencia:")
        print(train_data[column].value_counts())
        print("-" * 50)

### Análisis: Test vs Train

#### En test pero no en train

In [ ]:
columns_to_exclude = ['auction_list_0', 'action_list_1', 'action_list_2', 'auction_time', 'auction_boolean_0', 'auction_boolean_1', 'auction_boolean_2']
categorical_features_ = [col for col in categorical_features if col not in columns_to_exclude]

In [ ]:
# Crear un diccionario para almacenar las categorías desconocidas por columna
categorias_desconocidas = {}

# Iterar a través de cada columna categórica
for columna in categorical_features_:
    # Obtener las categorías únicas en el conjunto de entrenamiento
    categorias_train = set(train_data[columna].dropna().unique())
    
    # Obtener las categorías únicas en el conjunto de prueba
    categorias_test = set(test[columna].dropna().unique())
    
    # Identificar las categorías en test que no están en train
    desconocidas = categorias_test - categorias_train
    
    # Almacenar las categorías desconocidas en el diccionario como una lista
    categorias_desconocidas[columna] = list(desconocidas)

    # Inicializamos una máscara booleana que será True si la fila tiene una categoría desconocida en cualquier columna
mask = pd.Series([False] * len(test))

# Iteramos a través de cada columna categórica
for columna in categorias_desconocidas:
    # Verificamos si el valor en la columna está dentro de las categorías desconocidas
    mask = mask | test[columna].isin(categorias_desconocidas[columna])

# Contamos el número de filas donde al menos una categoría es desconocida
num_filas_desconocidas = mask.sum()

print(f"Cantidad de filas con al menos una categoría desconocida (existe en test y no en train): {num_filas_desconocidas} ({num_filas_desconocidas / len(test) * 100:.2f}%)")

#### En train pero no en test

In [ ]:
# Crear un diccionario para almacenar las categorías desconocidas por columna
categorias_conocidas = {}

# Iterar a través de cada columna categórica
for columna in categorical_features_:
    # Obtener las categorías únicas en el conjunto de entrenamiento
    categorias_test = set(test[columna].dropna().unique())
    
    # Obtener las categorías únicas en el conjunto de prueba
    categorias_train = set(train_data[columna].dropna().unique())
    
    # Identificar las categorías en test que no están en train
    conocidas = categorias_train - categorias_test
    
    # Almacenar las categorías desconocidas en el diccionario como una lista
    categorias_conocidas[columna] = list(conocidas)

# Inicializamos una máscara booleana que será True si la fila tiene una categoría desconocida en cualquier columna
mask = pd.Series([False] * len(test))

# Iteramos a través de cada columna categórica
for columna in categorias_conocidas:
    # Verificamos si el valor en la columna está dentro de las categorías desconocidas
    mask = mask | train_data[columna].isin(categorias_conocidas[columna])

# Contamos el número de filas donde al menos una categoría es desconocida
num_filas_conocidas = mask.sum()

print(f"Cantidad de filas con al menos una categoría que no existe en test: {num_filas_conocidas} ({num_filas_conocidas / len(train_data) * 100:.2f}%)")

# Entrenamiento de modelos

In [38]:
train_data_combined, _ = train_test_split(
    train_data, 
    train_size=50000, 
    random_state=random_state, 
    stratify=train_data['Label']
)

### One Hot Encoding

In [39]:
# Dividir los datos en entrenamiento y validación con estratificación
X_train, X_val, y_train, y_val = train_test_split(
    train_data_combined.drop(columns='Label'),  # Características
    train_data_combined['Label'],               # Variable objetivo
    test_size=0.1,                              # 10% para validación
    stratify=train_data_combined['Label'],      # Estratificación basada en la variable objetivo
    random_state=random_state                   # Semilla para reproducibilidad
)

# Verificar la proporción de clases en el conjunto de entrenamiento y validación
print("Proporción en el conjunto de entrenamiento:")
print(y_train.value_counts(normalize=True))

print("Proporción en el conjunto de validación:")
print(y_val.value_counts(normalize=True))

del train_data_combined, train_data, y_val, X_val
gc.collect()

Proporción en el conjunto de entrenamiento:
Label
0    0.987689
1    0.012311
Name: proportion, dtype: float64
Proporción en el conjunto de validación:
Label
0    0.9876
1    0.0124
Name: proportion, dtype: float64

1233

In [40]:
X_train = process_optimized(X_train)

Procesando DataFrame:   0%|          | 0/13 [00:00<?, ?paso/s]

Comenzando el procesamiento optimizado del DataFrame.
Eliminando columnas innecesarias.
Expansión de columnas temporales
Agrupando columnas de nivel
Modificando columnas de genero
Modificando columna de video
Juntando medidas
Expansión de columnas booleanas.
Inicio del proceso de one-hot encoding para las columnas booleanas especificadas.
Recopilando valores únicos de las columnas a codificar:

Procesando columnas para valores únicos:   0%|          | 0/3 [00:00<?, ?it/s]

Valores únicos encontrados: ['43c867fd', '47980dda', '65dcab89', '79ceee49']
Convirtiendo las columnas booleanas a listas de listas para Cython:

Convertir columnas a listas:   0%|          | 0/3 [00:00<?, ?it/s]

Conversión completada.
Realizando one-hot encoding utilizando la función optimizada en Cython:
One-hot encoding completado.
Creando el DataFrame de columnas codificadas:
DataFrame de one-hot encoding creado con 4 columnas y 45000 filas.
Concatenando las columnas codificadas al DataFrame original:
Concatenación completada. El DataFrame ahora tiene 48 columnas y 45000 filas.
Eliminando las columnas booleanas originales del DataFrame:
Columnas eliminadas: ['auction_boolean_0', 'auction_boolean_1', 'auction_boolean_2']
Proceso de one-hot encoding finalizado exitosamente.

Creando columnas de creatividad
Expansión de columnas de listas para auction_list_0.
Comenzando la expansión de la columna: 'auction_list_0'
Reemplazando NaN en la columna 'auction_list_0' por listas vacías.

  0%|          | 0/45000 [00:00<?, ?it/s]

Codificación completada. 129 categorías únicas encontradas.
Concatenando las columnas binarias al DataFrame original.

Concatenando columnas binarias:   0%|          | 0/129 [00:00<?, ?it/s]

Eliminando la columna original 'auction_list_0' del DataFrame.
Expansión de la columna 'auction_list_0' completada exitosamente.

Complementamos con la columna 'action_list_0'
Eliminando columna 'IAB1-1' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB1-2' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB1-3' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB1-4' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB1-5' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB1-7' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB10-1' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB10-3' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB10-5' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB10-7' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB12-1' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB12-2' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB13' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB14-1' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB14-3' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB15' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB15-10' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB16' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB17-1' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB17-12' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB17-44' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB19' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB19-14' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB19-17' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB19-18' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB19-19' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB19-29' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB19-30' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB19-5' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB19-6' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB2' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB20-3' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB21' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB21-3' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB5-1' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB5-8' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB6' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB6-6' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB6-9' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-1' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-10' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-11' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-12' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-13' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-14' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-15' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-16' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-17' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-18' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-19' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-2' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-20' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-21' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-22' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-23' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-24' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-25' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-26' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-27' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-28' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-29' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-3' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-30' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-31' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-32' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-33' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-34' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-35' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-36' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-37' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-38' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-39' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-4' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-40' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-41' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-42' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-43' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-44' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-45' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-5' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-6' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-7' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-8' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB7-9' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB8' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB9-1' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB9-2' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB9-24' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB9-25' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB9-26' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB9-5' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB9-7' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'IAB9-8' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'books' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'business' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'education' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'finance' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'healthcare_and_fitness' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'medical' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'music' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'navigation' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'reference' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'travel' por tener menos de 1000 valores iguales a 1.
Eliminando columna 'weather' por tener menos de 1000 valores iguales a 1.
Expansión de columnas de listas para action_list_1.
Comenzando la expansión de la columna: 'action_list_1'
Reemplazando NaN en la columna 'action_list_1' por listas vacías.

  0%|          | 0/45000 [00:00<?, ?it/s]

Codificación completada. 58 categorías únicas encontradas.
Concatenando las columnas binarias al DataFrame original.

Concatenando columnas binarias:   0%|          | 0/58 [00:00<?, ?it/s]

Eliminando la columna original 'action_list_1' del DataFrame.
Expansión de la columna 'action_list_1' completada exitosamente.

Comenzando la expansión de la columna: 'action_list_2'
Reemplazando NaN en la columna 'action_list_2' por listas vacías.

  0%|          | 0/45000 [00:00<?, ?it/s]

Codificación completada. 145 categorías únicas encontradas.
Concatenando las columnas binarias al DataFrame original.

Concatenando columnas binarias:   0%|          | 0/145 [00:00<?, ?it/s]

Eliminando la columna original 'action_list_2' del DataFrame.
Expansión de la columna 'action_list_2' completada exitosamente.

Eliminando columna '2606' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5559' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5577' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5736' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6118' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6119' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6451' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6613' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6614' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6616' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6779' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6780' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6824' por tener menos de 1000 valores iguales a 1.
Eliminando columna '7033' por tener menos de 1000 valores iguales a 1.
Eliminando columna '7194' por tener menos de 1000 valores iguales a 1.
Eliminando columna '7199' por tener menos de 1000 valores iguales a 1.
Eliminando columna '-7262' por tener menos de 1000 valores iguales a 1.
Eliminando columna '2560' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5469' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5470' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5471' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5560' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5576' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5603' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5604' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5605' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5613' por tener menos de 1000 valores iguales a 1.
Eliminando columna '5902' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6125' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6217' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6218' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6219' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6220' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6223' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6224' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6226' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6309' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6543' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6548' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6620' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6621' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6770' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6774' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6775' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6820' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6825' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6848' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6849' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6850' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6865' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6866' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6867' por tener menos de 1000 valores iguales a 1.
Eliminando columna '6905' por tener menos de 1000 valores iguales a 1.
Eliminando columna '7111' por tener menos de 1000 valores iguales a 1.
Eliminando columna '7112' por tener menos de 1000 valores iguales a 1.
Eliminando columna '7126' por tener menos de 1000 valores iguales a 1.
Eliminando columna '7127' por tener menos de 1000 valores iguales a 1.
Eliminando columna '7263' por tener menos de 1000 valores iguales a 1.
Eliminando columna '7264' por tener menos de 1000 valores iguales a 1.
Eliminando columna '7265' por tener menos de 1000 valores iguales a 1.
Agrupando categorias poco frecuentes
Tratamos los valores faltantes de manera diferenciada

In [41]:
X_train.columns.tolist()

['action_categorical_6',
 'action_categorical_7',
 'auction_bidfloor',
 'auction_categorical_0',
 'auction_categorical_1',
 'auction_categorical_10',
 'auction_categorical_11',
 'auction_categorical_12',
 'auction_categorical_3',
 'auction_categorical_4',
 'auction_categorical_5',
 'auction_categorical_6',
 'auction_categorical_7',
 'auction_categorical_8',
 'auction_categorical_9',
 'creative_categorical_0',
 'creative_categorical_1',
 'creative_categorical_12',
 'creative_categorical_2',
 'creative_categorical_3',
 'creative_categorical_4',
 'creative_categorical_5',
 'creative_categorical_6',
 'creative_categorical_7',
 'creative_categorical_8',
 'device_id',
 'device_id_type',
 'gender',
 'has_video',
 'week_day',
 'moment_of_the_day',
 'age_group',
 'level_combination',
 'hxw',
 '43c867fd',
 '47980dda',
 '65dcab89',
 '79ceee49',
 'IAB-5',
 'IAB1',
 'IAB1-6',
 'IAB12',
 'IAB14',
 'IAB17',
 'IAB18',
 'IAB20',
 'IAB22',
 'IAB24',
 'IAB3',
 'IAB5',
 'IAB9',
 'IAB9-23',
 'IAB9-30',
 'entertainment',
 'games',
 'lifestyle',
 'news',
 'photography',
 'productivity',
 'social_networking',
 'sports',
 'utilities',
 'AND-APL',
 'IAB20-6',
 'IAB8-9',
 'IAB22-2',
 '-2606',
 '-5559',
 '-5577',
 '-5578',
 '-5579',
 '-5736',
 '-6118',
 '-6119',
 '-6451',
 '-6454',
 '-6613',
 '-6614',
 '-6615',
 '-6616',
 '-6617',
 '-6618',
 '-6779',
 '-6780',
 '-6823',
 '-6824',
 '-6871',
 '-6874',
 '-6902',
 '-6903',
 '-7033',
 '-7190',
 '-7194',
 '-7195',
 '-7199',
 '5578',
 '5579',
 '6454',
 '6615',
 '6617',
 '6618',
 '6823',
 '6871',
 '6874',
 '6902',
 '6903',
 '7190',
 '7195',
 '-2560',
 '-5469',
 '-5470',
 '-5471',
 '-5560',
 '-5576',
 '-5603',
 '-5604',
 '-5605',
 '-5613',
 '-5902',
 '-6125',
 '-6217',
 '-6218',
 '-6219',
 '-6220',
 '-6223',
 '-6224',
 '-6226',
 '-6309',
 '-6543',
 '-6544',
 '-6547',
 '-6548',
 '-6620',
 '-6621',
 '-6770',
 '-6774',
 '-6775',
 '-6800',
 '-6820',
 '-6822',
 '-6825',
 '-6848',
 '-6849',
 '-6850',
 '-6865',
 '-6866',
 '-6867',
 '-6875',
 '-6876',
 '-6904',
 '-6905',
 '-6929',
 '-6938',
 '-6946',
 '-7111',
 '-7112',
 '-7126',
 '-7127',
 '-7143',
 '-7196',
 '-7263',
 '-7264',
 '-7265',
 '6544',
 '6547',
 '6800',
 '6822',
 '6875',
 '6876',
 '6904',
 '6929',
 '6938',
 '6946',
 '7143',
 '7196']

In [42]:
for column in X_train.columns:
    # Verifica si la suma de las frecuencias de los valores únicos es menor a 1000
    if (X_train[column] == 1).sum() < 1000:
        print(f"Columna: {column}")
        print(f"Valores únicos y su frecuencia:")
        print(X_train[column].value_counts())
        print("-" * 50)  # Separador entre columnas

Columna: action_categorical_6
Valores únicos y su frecuencia:
action_categorical_6
59638795    44837
4f7786a1      163
Name: count, dtype: int64
--------------------------------------------------
Columna: action_categorical_7
Valores únicos y su frecuencia:
action_categorical_7
e2538fca    27646
31b31f57    17354
Name: count, dtype: int64
--------------------------------------------------
Columna: auction_bidfloor
Valores únicos y su frecuencia:
auction_bidfloor
0.090000    11800
0.020000     3112
0.070000     1472
0.170000     1404
0.100000     1236
            ...
0.479000        1
1.071428        1
2.419000        1
0.585000        1
0.401606        1
Name: count, Length: 940, dtype: int64
--------------------------------------------------
Columna: auction_categorical_0
Valores únicos y su frecuencia:
auction_categorical_0
61559b0f       6063
220eba28       5366
3d496348       4789
6e069bec       4463
431302a4       3034
ea238f7b       2762
0e28039c       2716
0ef62fd9       2154
Otro           2078
df9868ac       2057
2344f8ca       1413
3e4b21a0       1114
87f54743        636
d3c7863f        609
ff25306d        555
6856f984        533
3124f99c        502
f2400ab2        476
2a9c5636        439
94bcceb7        400
7b7a6b4c        375
5631509c        371
0a5fea98        337
c6382961        274
Desconocido     191
3df9c1bd        177
4f17add5        168
29b77816        165
b5162e4d        155
72541507        152
fcf406ac        132
24c5c9b3        120
974b0af5        116
10c46747        108
Name: count, dtype: int64
--------------------------------------------------
Columna: auction_categorical_1
Valores únicos y su frecuencia:
auction_categorical_1
714a9147    35738
1be29569     7624
ababfacb     1638
Name: count, dtype: int64
--------------------------------------------------
Columna: auction_categorical_10
Valores únicos y su frecuencia:
auction_categorical_10
d6496210    44999
Otro            1
Name: count, dtype: int64
--------------------------------------------------
Columna: auction_categorical_11
Valores únicos y su frecuencia:
auction_categorical_11
Otro        13539
c5abc8fa     9004
1ea53035     3596
f65ed99c     2024
ea5bfdf9     1767
96fe5027     1537
ef20d227     1201
f45760f0     1090
e7e5ef8c      834
15f36bd8      756
5098dc9a      744
21c52ab4      473
13e1c4f4      412
922325e3      409
bc2ea7c7      375
ce04f021      355
a75afb39      312
0f40c06b      291
77201adc      284
9efce19a      274
f936a787      250
857b03df      234
21e00c7d      232
80253976      228
26cbe8ca      222
777f2dce      221
9e55df10      217
0eaceca2      216
01566d09      213
96bfa073      197
67555e9a      181
3b26dcb0      178
e7c67c20      175
19998e8d      175
518f127b      173
f0504648      170
3474d33c      163
1af546ea      150
92a99bcb      144
ea1be7a8      144
9ddf0de9      140
d299e829      131
73de9646      129
2d3a2bdc      125
b08b0036      114
d42bf4a2      114
cd60c786      113
01c836b3      113
b50305c8      112
398592e5      110
b91470d8      110
4cb70e24      109
ee8ca339      107
bc9a9066      107
40ab5992      104
db4cfb47      102
Name: count, dtype: int64
--------------------------------------------------
Columna: auction_categorical_12
Valores únicos y su frecuencia:
auction_categorical_12
Otro           11485
Desconocido     9343
b4e520dd        2225
9c3324c7        1863
e9e0850e        1355
               ...
373200a1         117
799809fe         110
f9ddb3c2         109
a9b459d0         108
4f105ec4         104
Name: count, Length: 68, dtype: int64
--------------------------------------------------
Columna: auction_categorical_3
Valores únicos y su frecuencia:
auction_categorical_3
Otro           44328
Desconocido      193
973025d7         150
db992017         113
6d136195         109
75bcbeb3         107
Name: count, dtype: int64
--------------------------------------------------
Columna: auction_categorical_4
Valores únicos y su frecuencia:
auction_categorical_4
ef64698f       31425
7db9dc73       13414
Desconocido      161
Name: count, dtype: int64
--------------------------------------------------
Columna: auction_categorical_5
Valores únicos y su frecuencia:
auction_categorical_5
c99696ad    26405
ec8edf0b    18595
Name: count, dtype: int64
--------------------------------------------------
Columna: auction_categorical_6
Valores únicos y su frecuencia:
auction_categorical_6
ed14c0c3       10678
434922cf        5274
0fa26b70        5244
Desconocido     4129
fccb6ea5        3932
3117d02e        3231
7d7776ec        2900
e70caf72        2650
6f5a8fcb        2320
1c95d1e5        1121
b42d829e         958
2f74fc92         669
ababfacb         436
79ac9638         422
c20b2db7         387
5271393e         250
d2fee5de         232
Otro             167
Name: count, dtype: int64
--------------------------------------------------
Columna: auction_categorical_7
Valores únicos y su frecuencia:
auction_categorical_7
Otro        15186
b04e4d07     2441
034e01d7     1854
8aca96c3     1268
05a781fa     1254
            ...
b13c76e2      106
6a11ab19      105
4fa2d925      103
dec00e70      102
d81e16f7      100
Name: count, Length: 90, dtype: int64
--------------------------------------------------
Columna: auction_categorical_8
Valores únicos y su frecuencia:
auction_categorical_8
198c733d    29947
e361d5bc     5776
856f1b75     5430
9685087a     1752
fe917183      700
ee36ba80      529
d7a49a2e      329
62d6343e      284
97fd48df      181
Otro           72
Name: count, dtype: int64
--------------------------------------------------
Columna: auction_categorical_9
Valores únicos y su frecuencia:
auction_categorical_9
Otro           15935
Desconocido    13417
11105871        2184
d4eea9a2        1722
0f493a39         939
1b26c761         838
79ceee49         694
e10064eb         478
94e43af2         476
bea5c21c         430
8e9f619f         422
2d142ca9         303
e609fa5a         302
3c4be72e         287
105a7850         259
ff29e19d         258
7e952598         249
25776807         249
e10525ac         244
8293f7bc         242
a5c30fc9         217
a803a2e6         200
0d660d9a         199
89b2cd84         185
f690df59         175
4a8ff226         174
22e0670e         160
62ae5ddb         156
d3a7d8ba         155
fae6eae7         152
81cf1a0e         148
f0369c26         147
b108b520         142
8663f240         137
34a5b5e1         136
955b4015         136
b139ea74         134
a1a5ced2         133
d81fe3e2         133
173ce000         126
e36715bf         124
7daeddab         123
50921258         119
28c10de5         119
89a1e033         118
e11ff413         117
2784c5c0         117
9f5b2744         115
ee2cf71d         114
93546afe         113
98cb5201         112
5c8425cc         111
0d2be80d         108
86efc936         106
d2cfd751         105
970c4b76         105
b6c43d10         101
Name: count, dtype: int64
--------------------------------------------------
Columna: creative_categorical_0
Valores únicos y su frecuencia:
creative_categorical_0
Otro        6573
16005afa    3225
7f776def    2677
246cce9b    2292
7acb895b    2256
            ...
f9c77d37     110
6a275605     110
ef6141da     103
0e83d9f5     102
c041644a     102
Name: count, Length: 88, dtype: int64
--------------------------------------------------
Columna: creative_categorical_1
Valores únicos y su frecuencia:
creative_categorical_1
977c2300    28677
35fcfcbb    16323
Name: count, dtype: int64
--------------------------------------------------
Columna: creative_categorical_12
Valores únicos y su frecuencia:
creative_categorical_12
Desconocido    38411
dd370958        1842
5e6c4fa2        1188
80819d2d        1095
83dae26d         679
a6d930ab         589
8f6f5f41         473
Otro             376
546044ce         208
99df4af8         139
Name: count, dtype: int64
--------------------------------------------------
Columna: creative_categorical_2
Valores únicos y su frecuencia:
creative_categorical_2
Desconocido    37819
451daa93        1849
d97f9242        1188
eacc48c8        1148
50e522c2        1016
76d66943         494
857e02b0         420
51499fde         389
1d2fa540         281
eec28017         212
e5892738         160
Otro              24
Name: count, dtype: int64
--------------------------------------------------
Columna: creative_categorical_3
Valores únicos y su frecuencia:
creative_categorical_3
Desconocido    42447
095cc02c        1188
11a9f48f         478
5f68c5e6         403
a5b257c7         142
d75eba3c         134
28712cad         118
Otro              90
Name: count, dtype: int64
--------------------------------------------------
Columna: creative_categorical_4
Valores únicos y su frecuencia:
creative_categorical_4
150d94b7       22555
7f1dcf83       15264
Desconocido     6974
f3b258d1         207
Name: count, dtype: int64
--------------------------------------------------
Columna: creative_categorical_5
Valores únicos y su frecuencia:
creative_categorical_5
Desconocido    38034
654a0207        6343
Otro             320
310dd70a         192
52ea3f88         111
Name: count, dtype: int64
--------------------------------------------------
Columna: creative_categorical_6
Valores únicos y su frecuencia:
creative_categorical_6
Desconocido    38500
5a6ad423         648
05e210ae         623
c785677e         600
88a3d2fd         594
9041f1b3         565
adf97351         478
356a814d         473
Otro             359
6a3c2b88         305
379a8766         304
fa1a6c06         241
d11f018a         212
534e1302         198
ca48f685         185
735ae96a         179
868a1c2d         170
4ba9f278         139
6d4f0cb8         114
04cae3c5         113
Name: count, dtype: int64
--------------------------------------------------
Columna: creative_categorical_7
Valores únicos y su frecuencia:
creative_categorical_7
Desconocido    38546
8bc11a1e        1842
b98125c8        1568
ff858f87         970
2b22dd6f         623
2b235cde         589
f1b6690d         565
a7e34545         167
6b5d903f         130
Name: count, dtype: int64
--------------------------------------------------
Columna: creative_categorical_8
Valores únicos y su frecuencia:
creative_categorical_8
b6910b48    37819
b00371d3     6371
40ceda44      595
d9d53fe0      207
Otro            8
Name: count, dtype: int64
--------------------------------------------------
Columna: device_id
Valores únicos y su frecuencia:
device_id
efe238b1    19
758da2b1    14
9cd0f5e4    11
7218a218    11
a95801d7    10
            ..
560348f4     1
88ba2694     1
ab2c4898     1
12bc725b     1
4c1478cd     1
Name: count, Length: 40355, dtype: int64
--------------------------------------------------
Columna: device_id_type
Valores únicos y su frecuencia:
device_id_type
6324b367    26272
c1d12c8e    18595
42080e25      133
Name: count, dtype: int64
--------------------------------------------------
Columna: has_video
Valores únicos y su frecuencia:
has_video
0    44262
1      738
Name: count, dtype: int64
--------------------------------------------------
Columna: age_group
Valores únicos y su frecuencia:
age_group
5    36300
2     4118
3     3414
4      772
1      385
0       11
Name: count, dtype: int64
--------------------------------------------------
Columna: level_combination
Valores únicos y su frecuencia:
level_combination
Otro               8175
11bac02f2cb82c3    2440
c2e3071ae62c971    1733
604f71378242d1c    1664
604f712e6242502    1536
                   ...
7f0f4c1765eb8cb     112
11b0d1beff51853     111
e35e228f1e9cf05     104
e35e22880e9cee5     104
e35e22c50e9ceb2     100
Name: count, Length: 95, dtype: int64
--------------------------------------------------
Columna: hxw
Valores únicos y su frecuencia:
hxw
16000.0     24965
75000.0     10188
0.0          6946
153600.0     2553
65520.0       288
786432.0       60
Name: count, dtype: int64
--------------------------------------------------
Columna: IAB-5
Valores únicos y su frecuencia:
IAB-5
0    44996
1        4
Name: count, dtype: int64
--------------------------------------------------
Columna: AND-APL
Valores únicos y su frecuencia:
AND-APL
0    45000
Name: count, dtype: int64
--------------------------------------------------
Columna: -2606
Valores únicos y su frecuencia:
-2606
0    44120
1      880
Name: count, dtype: int64
--------------------------------------------------

In [ ]:
test_data = pd.read_csv('data/ctr_test.csv')

# X_test = process_data_with_dask(test_data, npartitions=10)

X_test = process_optimized(test_data)

# Excluir 'id' de las columnas de X_test para el reordenamiento
common_columns = [col for col in X_test.columns if col != 'id']

# Asegúrate de que las columnas en X_train coincidan con las de X_test (sin 'id')
missing_cols = set(common_columns) - set(X_train.columns)
for col in missing_cols:
    X_train[col] = 0

# Eliminar columnas extra en X_train que no están en X_test (sin contar 'id')
extra_cols = set(X_train.columns) - set(common_columns)
X_train.drop(columns=extra_cols, inplace=True)

# Reordenar X_train para que tenga el mismo orden de columnas que X_test (sin 'id')
X_train = X_train[common_columns]

# Verificar el número de columnas en X_train
print(X_train.shape[1])
print(X_test['id'])

In [ ]:
extra_cols

In [ ]:
for column in X_train.columns:
    print(f"Columna: {column}")
    print(f"Valores únicos y su frecuencia:")
    print(X_train[column].value_counts())
    print("-" * 50)  # Separador entre columnas

In [31]:
# Definir las columnas categóricas y numéricas
categorical_features_to_encode = X_train.select_dtypes(include=['object']).columns
numeric_features = X_train.select_dtypes(include=['number']).columns.tolist()

# Preprocesador común para imputación y codificación
common_preprocessor = ColumnTransformer(
    transformers=[
        # Imputar valores numéricos con la media
        ('num', SimpleImputer(strategy='mean'), numeric_features),
        
        # Imputar valores categóricos con 'Desconocido' y aplicar One-Hot Encoding
        ('cat', Pipeline([
            ('imputer', SimpleImputer(strategy='constant', fill_value='Desconocido')),
            ('onehot', OneHotEncoder(drop='first', sparse_output=True, handle_unknown='ignore'))
        ]), categorical_features_to_encode)
    ],
    remainder='drop'  # Excluir columnas no especificadas
)

# Definir el modelo XGBoost
model_xgb = XGBClassifier(
    random_state=random_state, 
    use_label_encoder=False, 
    eval_metric='auc'
)

# Pipeline para XGBoost (mantiene matrices dispersas)
pipeline_xgb = Pipeline(steps=[
    ('preprocessor', common_preprocessor),
    ('classifier', model_xgb),
])

#### Hyperot XGBoost

In [32]:
# Definir el espacio de búsqueda para los hiperparámetros de XGBoost
space = {
    'max_depth': hp.choice('max_depth', range(3, 10)), 
    'learning_rate': hp.uniform('learning_rate', 0.01, 0.2),
    'n_estimators': hp.choice('n_estimators', [100, 200, 300, 400, 500]), 
    'gamma': hp.uniform('gamma', 0, 0.5),
    'min_child_weight': hp.quniform('min_child_weight', 1, 10, 1),
    'subsample': hp.uniform('subsample', 0.5, 1),
    'colsample_bytree': hp.uniform('colsample_bytree', 0.5, 1),
    'scale_pos_weight': hp.uniform('scale_pos_weight', 0.5, 2),
    'reg_alpha': hp.uniform('reg_alpha', 0, 1),  # L1 regularización
    'reg_lambda': hp.uniform('reg_lambda', 0, 1),  # L2 regularización
    'colsample_bylevel': hp.uniform('colsample_bylevel', 0.5, 1),  # Muestreo a nivel de split
    'colsample_bynode': hp.uniform('colsample_bynode', 0.5, 1),  # Muestreo por nodo
    'grow_policy': hp.choice('grow_policy', ['depthwise', 'lossguide']),  # Estrategia de crecimiento
    'tree_method': hp.choice('tree_method', ['auto', 'approx', 'hist'])  # Métodos de construcción del árbol
}

# Función objetivo para Hyperopt utilizando validación cruzada
def objective_xgb(params):
    
    # Asegurar que los parámetros sean del tipo correcto
    params['max_depth'] = int(params['max_depth'])
    params['n_estimators'] = int(params['n_estimators'])
    params['min_child_weight'] = int(params['min_child_weight'])
    
    # Definir el modelo con los hiperparámetros actuales
    model_xgb = XGBClassifier(
        max_depth=params['max_depth'],
        learning_rate=params['learning_rate'],
        n_estimators=params['n_estimators'],
        gamma=params['gamma'],
        min_child_weight=params['min_child_weight'],
        subsample=params['subsample'],
        colsample_bytree=params['colsample_bytree'],
        scale_pos_weight=params['scale_pos_weight'],
        reg_alpha=params['reg_alpha'],  # L1 regularización
        reg_lambda=params['reg_lambda'],  # L2 regularización
        colsample_bylevel=params['colsample_bylevel'],  # Muestreo a nivel de split
        colsample_bynode=params['colsample_bynode'],  # Muestreo por nodo
        grow_policy=params['grow_policy'],  # Estrategia de crecimiento
        tree_method=params['tree_method'],  # Método de construcción del árbol
        use_label_encoder=False,  # Evitar advertencias en versiones más recientes de XGBoost
        eval_metric='auc',
        random_state=random_state
    )
    
    # Pipeline para XGBoost (mantiene matrices dispersas)
    pipeline_xgb = Pipeline(steps=[
        ('preprocessor', common_preprocessor),
        ('classifier', model_xgb),
    ])
    
    # Definir la validación cruzada
    cv = StratifiedKFold(n_splits=3, shuffle=True, random_state=random_state)
    
    # Calcular el AUC utilizando validación cruzada
    auc = cross_val_score(pipeline_xgb, X_train, y_train, cv=cv, scoring='roc_auc').mean()
    
    # Opcional: imprimir los hiperparámetros y el AUC actual
    print(f"Hiperparámetros: {params}, AUC: {auc:.4f}")
    
    # Retornar el valor a minimizar (1 - AUC)
    return {'loss': 1 - auc, 'status': STATUS_OK}

In [ ]:
# Ejecutar la optimización
trials = Trials()

best_xgb = fmin(
    fn=objective_xgb,
    space=space,
    algo=tpe.suggest,
    max_evals=5,
    trials=trials,
    rstate=np.random.default_rng(random_state)  # Asegurar reproducibilidad
)

# No es necesario volver a mapear los hiperparámetros aquí, ya se hizo dentro de la función objetivo
print("Mejores hiperparámetros para XGBoost:")
print(best_xgb)

#### PRUEBA CON TEST

In [ ]:
# Indices
tree_method_options = ['auto', 'exact', 'approx', 'hist']
grow_policy_options = ['depthwise', 'lossguide']
n_estimators_options = [100, 200, 300, 400, 500]

# Reconstruir el modelo de XGBoost con los mejores hiperparámetros
best_model_xgb = xgb.XGBClassifier(
    n_estimators=n_estimators_options[best_xgb['n_estimators']],
    max_depth=best_xgb['max_depth'],
    learning_rate=best_xgb['learning_rate'],
    subsample=best_xgb['subsample'],
    colsample_bytree=best_xgb['colsample_bytree'],
    min_child_weight=best_xgb['min_child_weight'],
    gamma=best_xgb['gamma'],
    scale_pos_weight=best_xgb['scale_pos_weight'],
    reg_alpha=best_xgb['reg_alpha'],  # L1 regularización
    reg_lambda=best_xgb['reg_lambda'],  # L2 regularización
    colsample_bylevel=best_xgb['colsample_bylevel'],  # Muestreo a nivel de split
    colsample_bynode=best_xgb['colsample_bynode'],  # Muestreo por nodo
    grow_policy=grow_policy_options[best_xgb['grow_policy']],  # Estrategia de crecimiento
    tree_method=tree_method_options[best_xgb['tree_method']],  # Método de construcción del árbol
    random_state=random_state,
    use_label_encoder=False,  # Evitar advertencias en versiones más recientes de XGBoost
    eval_metric="auc"  # Establecer AUC como métrica de evaluación
)

# Crear un nuevo pipeline reutilizando el preprocesador original y el mejor modelo
xgb_pipeline = Pipeline(steps=[
    ('preprocessor', common_preprocessor),
    ('classifier', model_xgb),
])

# Entrenar el modelo con los datos de entrenamiento
xgb_pipeline.fit(X_train, y_train)

In [ ]:
# Predecir en el conjunto de testeo
y_preds_xgb_test = xgb_pipeline.predict_proba(X_test)[:, 1]

# Crear el archivo de envío
submission_df_xgb = pd.DataFrame({"id": test_data["id"], "Label": y_preds_xgb_test})
submission_df_xgb["id"] = submission_df_xgb["id"].astype(int)

# Crear el nombre del archivo basado en los mejores hiperparámetros
file_name_xgb = (
    f"xgboost_preds_ne_{best_xgb['n_estimators']}_"
    f"md_{handle_none(best_xgb['max_depth'])}_"
    f"lr_{round(best_xgb['learning_rate'], 2)}_"
    f"ss_{round(best_xgb['subsample'], 2)}_"
    f"csb_{round(best_xgb['colsample_bytree'], 2)}_"
    f"cb_level_{round(best_xgb['colsample_bylevel'], 2)}_"
    f"cb_node_{round(best_xgb['colsample_bynode'], 2)}_"
    f"mcw_{round(best_xgb['min_child_weight'], 2)}_"
    f"gamma_{round(best_xgb['gamma'], 2)}_"
    f"ra_{round(best_xgb['reg_alpha'], 2)}_"
    f"rl_{round(best_xgb['reg_lambda'], 2)}_"
    f"spw_{round(best_xgb['scale_pos_weight'], 2)}_"
    f"gp_{grow_policy_options[best_xgb['grow_policy']]}_"
    f"tm_{tree_method_options[best_xgb['tree_method']]}.csv"
)

# Crear la carpeta "submits" si no existe
os.makedirs("submits", exist_ok=True)

# Guardar el archivo de predicción en la carpeta 'submits'
submission_df_xgb.to_csv(os.path.join("submits", file_name_xgb), sep=",", index=False)

print(f"Archivo guardado en: submits/{file_name_xgb}")